.create-account-container {
    width: 100%;
    max-width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow for depth */
    font-family: 'Itim', cursive;
  }
  
  .create-account-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-account-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: px;
  }
  
  .create-account-form .form-row input {
    width: 48%; /* Adjusts the width to account for margin */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
  }

  .create-account-form .form-row input:last-child {
    margin-right: 0;
  }
  
  .create-account-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px; /* Spacing between inputs */
  }
  
  .create-account-button {
    width: 48%;
    height: 100%;
    padding: 10px;
    background-color: #00BFFF; /* Adjust color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-account-button:hover {
    background-color: #009ACD; /* A slightly darker blue shade for hover state */
  }